<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John's Stories</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <header>
        <div class="brand">
            <h1 class="header-title">John's Stories</h1>
        </div>
        <nav class="nav" role="navigation">
            <div id="menu-bars">
                <span class="menu-bar"></span>
                <span class="menu-bar"></span>
                <span class="menu-bar"></span>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>        
    </header>
    <div class="wrap-content wrap-box">

        <div class="box">
            <div class="box-header">
                <h1 class="box-title">Stories</h1>
            </div>
            <div class="box-body">
                <div class="group">
                    <label class="input-label" for="search">Search</label>
                    <input class="input-text" type="text">
                </div>
                <div class="group">
                    <table>
                        <thead>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Endless Story</td>
                                <td>
                                    <img class="table-action" src="./img/delete.png" alt="">
                                    <img class="table-action" src="./img/edit.png" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lord of the rings</td>
                                <td>
                                    <img class="table-action" src="./img/delete.png" alt="">
                                    <img class="table-action" src="./img/edit.png" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Hole Grail</td>
                                <td>
                                    <img class="table-action" src="./img/delete.png" alt="">
                                    <img class="table-action" src="./img/edit.png" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>The adventures of Tim Tim</td>
                                <td>
                                    <img class="table-action" src="./img/delete.png" alt="">
                                    <img class="table-action" src="./img/edit.png" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Star Wars</td>
                                <td>
                                    <img class="table-action" src="./img/delete.png" alt="">
                                    <img class="table-action" src="./img/edit.png" alt="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            
        <section class="box">
            <div class="box-header">
                <h1 class="box-title">Create Story</h1>
            </div>
            <div class="box-body">
                <div class="group">
                    <label class="input-label" for="title">Title</label>
                    <input class="input-text" type="text"/>
                </div>
                <div class="group">
                    <label class="input-label" for="storie">Storie</label>
                    <textarea class="input-text input-textarea"></textarea>
                </div>
                <div class="group">
                    <button class="btn btn-success btn-regular">Save</button>
                </div>

            </div>
            <div class="box-footer">
                
            </div>
            
        </section>

        <section class="sidebar">
            <nav class="nav-sidebar">
                <div class="sidebar-header">
                    <img class="sidebar-img" src="./img/category.png" alt="">
                    <h1>
                        Admin 
                    </h1>
                </div>
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Stories</a></li>
                </ul>
            </nav>
        </section>

    </div>
    <footer>
        <p>John's Stories</p>
        <p>Developed by Ronaldo Ramos</p>
    </footer>

    <script src="./js/main.js"></script>

</body>
</html>