<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John's Stories</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <header>
        <div class="brand">
            <h1 class="header-title">John's Stories</h1>
        </div>
        <nav class="nav" role="navigation">
            <div id="menu-bars">
                <span class="menu-bar"></span>
                <span class="menu-bar"></span>
                <span class="menu-bar"></span>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>        
    </header>
    <div class="wrap-content">
            
        <div class="wrap-cards">

            <section class="content">
                <div class="card">
                    <div class="card-header"> 
                        <img class="card-image" src="./img/img02.jpg" alt="Image 01">
                    </div>
                    <div class="card-body">
                        <div class="card-tags">
                            <span class="tag tag-blue">Science fiction</span>
                        </div>
                        <div class="card-title">
                            The magical sign
                        </div>
                        <div class="card-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="user">
                            <img class="user-image" src="./img/john.png" alt="John's Picture">
                            <div class="user-info">
                                <div class="user-name">John Doe</div>
                                <small>01/11/2021</small>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-header"> 
                        <img class="card-image" src="./img/img05.jpg" alt="Image 01">
                    </div>
                    <div class="card-body">
                        <div class="card-tags">
                            <span class="tag tag-blue">Fantasy</span>
                        </div>
                        <div class="card-title">
                            The magical sign
                        </div>
                        <div class="card-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="user">
                            <img class="user-image" src="./img/john.png" alt="John's Picture">
                            <div class="user-info">
                                <div class="user-name">John Doe</div>
                                <small>01/11/2021</small>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="card">
                    <div class="card-header"> 
                        <img class="card-image" src="./img/img03.jpg" alt="Image 01">
                    </div>
                    <div class="card-body">
                        <div class="card-tags">
                            <span class="tag tag-blue">Drama</span>
                        </div>
                        <div class="card-title">
                            The magical sign
                        </div>
                        <div class="card-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="user">
                            <img class="user-image" src="./img/john.png" alt="John's Picture">
                            <div class="user-info">
                                <div class="user-name">John Doe</div>
                                <small>01/11/2021</small>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="card">
                    <div class="card-header"> 
                        <img class="card-image" src="./img/img04.jpg" alt="Image 01">
                    </div>
                    <div class="card-body">
                        <div class="card-tags">
                            <span class="tag tag-blue">Action</span>
                        </div>
                        <div class="card-title">
                            The magical sign
                        </div>
                        <div class="card-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="user">
                            <img class="user-image" src="./img/john.png" alt="John's Picture">
                            <div class="user-info">
                                <div class="user-name">John Doe</div>
                                <small>01/11/2021</small>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-header"> 
                        <img class="card-image" src="./img/img02.jpg" alt="Image 01">
                    </div>
                    <div class="card-body">
                        <div class="card-tags">
                            <span class="tag tag-blue">Science fiction</span>
                        </div>
                        <div class="card-title">
                            The magical sign
                        </div>
                        <div class="card-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="user">
                            <img class="user-image" src="./img/john.png" alt="John's Picture">
                            <div class="user-info">
                                <div class="user-name">John Doe</div>
                                <small>01/11/2021</small>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-header"> 
                        <img class="card-image" src="./img/img05.jpg" alt="Image 01">
                    </div>
                    <div class="card-body">
                        <div class="card-tags">
                            <span class="tag tag-blue">Fantasy</span>
                        </div>
                        <div class="card-title">
                            The magical sign
                        </div>
                        <div class="card-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="user">
                            <img class="user-image" src="./img/john.png" alt="John's Picture">
                            <div class="user-info">
                                <div class="user-name">John Doe</div>
                                <small>01/11/2021</small>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <div class="wrap-pagination">
                <ul class="pagination">
                    <li ><a href="#"><<</a></li>
                    <li ><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li ><a href="#">3</a></li>
                    <li ><a href="#">>></a></li>
                </ul>
            </div>

        </div>

        <section class="sidebar">
            <nav class="nav-sidebar">
                <div class="sidebar-header">
                    <img class="sidebar-img" src="./img/category.png" alt="">
                    <h1>
                        Categories
                    </h1>
                </div>
                <ul>
                    <li><a href="#">Science Fiction</a><span class="category-qty">5</span></li>
                    <li><a href="#">Fantasy</a><span class="category-qty">10</span></li>
                    <li><a href="#">Drama</a><span class="category-qty">3</span></li>
                    <li><a href="#">Action</a><span class="category-qty">23</span></li>
                </ul>
            </nav>
        </section>

    </div>
    <footer>
        <p>John's Stories</p>
        <p>Developed by Ronaldo Ramos</p>
    </footer>

    <script src="./js/main.js"></script>

</body>
</html>