<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John's Stories</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <header>
        <div class="brand">
            <h1 class="header-title">John's Stories</h1>
        </div>
        <nav class="nav" role="navigation">
            <div id="menu-bars">
                <span class="menu-bar"></span>
                <span class="menu-bar"></span>
                <span class="menu-bar"></span>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>        
    </header>
    <div class="wrap-content wrap-box">
            
        <section class="box">
            <div class="box-header">
                <img class="box-cover" src="./img/img02.jpg" alt="Cover">
                <h1 class="box-title">The magical sign</h1>
                <span class="box-date">01/11/2021</span>
                <button class="btn btn-success btn-small">Download</button>
            </div>
            <div class="box-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper, ligula id imperdiet aliquet, quam ante rhoncus tellus, ac placerat mi nisi id odio. Integer sed sem non dolor vehicula condimentum. Cras ullamcorper id ante nec sodales. Donec aliquam dolor non leo sagittis mattis. Maecenas gravida ipsum sit amet egestas sagittis. Maecenas id enim eu orci ultricies maximus a ut urna. Mauris vel felis vel arcu malesuada malesuada ullamcorper ac lectus. Suspendisse sed mauris risus. Curabitur nec porta risus. Praesent varius, sem eget convallis sollicitudin, massa tellus viverra nisl, vel vestibulum libero tortor sit amet nibh. Phasellus finibus pretium leo et tempor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper, ligula id imperdiet aliquet, quam ante rhoncus tellus, ac placerat mi nisi id odio. Integer sed sem non dolor vehicula condimentum. Cras ullamcorper id ante nec sodales. Donec aliquam dolor non leo sagittis mattis. Maecenas gravida ipsum sit amet egestas sagittis. Maecenas id enim eu orci ultricies maximus a ut urna. Mauris vel felis vel arcu malesuada malesuada ullamcorper ac lectus. Suspendisse sed mauris risus. Curabitur nec porta risus. Praesent varius, sem eget convallis sollicitudin, massa tellus viverra nisl, vel vestibulum libero tortor sit amet nibh. Phasellus finibus pretium leo et tempor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper, ligula id imperdiet aliquet, quam ante rhoncus tellus, ac placerat mi nisi id odio. Integer sed sem non dolor vehicula condimentum. Cras ullamcorper id ante nec sodales. Donec aliquam dolor non leo sagittis mattis. Maecenas gravida ipsum sit amet egestas sagittis. Maecenas id enim eu orci ultricies maximus a ut urna. Mauris vel felis vel arcu malesuada malesuada ullamcorper ac lectus. Suspendisse sed mauris risus. Curabitur nec porta risus. Praesent varius, sem eget convallis sollicitudin, massa tellus viverra nisl, vel vestibulum libero tortor sit amet nibh. Phasellus finibus pretium leo et tempor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper, ligula id imperdiet aliquet, quam ante rhoncus tellus, ac placerat mi nisi id odio. Integer sed sem non dolor vehicula condimentum. Cras ullamcorper id ante nec sodales. Donec aliquam dolor non leo sagittis mattis. Maecenas gravida ipsum sit amet egestas sagittis. Maecenas id enim eu orci ultricies maximus a ut urna. Mauris vel felis vel arcu malesuada malesuada ullamcorper ac lectus. Suspendisse sed mauris risus. Curabitur nec porta risus. Praesent varius, sem eget convallis sollicitudin, massa tellus viverra nisl, vel vestibulum libero tortor sit amet nibh. Phasellus finibus pretium leo et tempor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper, ligula id imperdiet aliquet, quam ante rhoncus tellus, ac placerat mi nisi id odio. Integer sed sem non dolor vehicula condimentum. Cras ullamcorper id ante nec sodales. Donec aliquam dolor non leo sagittis mattis. Maecenas gravida ipsum sit amet egestas sagittis. Maecenas id enim eu orci ultricies maximus a ut urna. Mauris vel felis vel arcu malesuada malesuada ullamcorper ac lectus. Suspendisse sed mauris risus. Curabitur nec porta risus. Praesent varius, sem eget convallis sollicitudin, massa tellus viverra nisl, vel vestibulum libero tortor sit amet nibh. Phasellus finibus pretium leo et tempor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper, ligula id imperdiet aliquet, quam ante rhoncus tellus, ac placerat mi nisi id odio. Integer sed sem non dolor vehicula condimentum. Cras ullamcorper id ante nec sodales. Donec aliquam dolor non leo sagittis mattis. Maecenas gravida ipsum sit amet egestas sagittis. Maecenas id enim eu orci ultricies maximus a ut urna. Mauris vel felis vel arcu malesuada malesuada ullamcorper ac lectus. Suspendisse sed mauris risus. Curabitur nec porta risus. Praesent varius, sem eget convallis sollicitudin, massa tellus viverra nisl, vel vestibulum libero tortor sit amet nibh. Phasellus finibus pretium leo et tempor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper, ligula id imperdiet aliquet, quam ante rhoncus tellus, ac placerat mi nisi id odio. Integer sed sem non dolor vehicula condimentum. Cras ullamcorper id ante nec sodales. Donec aliquam dolor non leo sagittis mattis. Maecenas gravida ipsum sit amet egestas sagittis. Maecenas id enim eu orci ultricies maximus a ut urna. Mauris vel felis vel arcu malesuada malesuada ullamcorper ac lectus. Suspendisse sed mauris risus. Curabitur nec porta risus. Praesent varius, sem eget convallis sollicitudin, massa tellus viverra nisl, vel vestibulum libero tortor sit amet nibh. Phasellus finibus pretium leo et tempor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper, ligula id imperdiet aliquet, quam ante rhoncus tellus, ac placerat mi nisi id odio. Integer sed sem non dolor vehicula condimentum. Cras ullamcorper id ante nec sodales. Donec aliquam dolor non leo sagittis mattis. Maecenas gravida ipsum sit amet egestas sagittis. Maecenas id enim eu orci ultricies maximus a ut urna. Mauris vel felis vel arcu malesuada malesuada ullamcorper ac lectus. Suspendisse sed mauris risus. Curabitur nec porta risus. Praesent varius, sem eget convallis sollicitudin, massa tellus viverra nisl, vel vestibulum libero tortor sit amet nibh. Phasellus finibus pretium leo et tempor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper, ligula id imperdiet aliquet, quam ante rhoncus tellus, ac placerat mi nisi id odio. Integer sed sem non dolor vehicula condimentum. Cras ullamcorper id ante nec sodales. Donec aliquam dolor non leo sagittis mattis. Maecenas gravida ipsum sit amet egestas sagittis. Maecenas id enim eu orci ultricies maximus a ut urna. Mauris vel felis vel arcu malesuada malesuada ullamcorper ac lectus. Suspendisse sed mauris risus. Curabitur nec porta risus. Praesent varius, sem eget convallis sollicitudin, massa tellus viverra nisl, vel vestibulum libero tortor sit amet nibh. Phasellus finibus pretium leo et tempor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper, ligula id imperdiet aliquet, quam ante rhoncus tellus, ac placerat mi nisi id odio. Integer sed sem non dolor vehicula condimentum. Cras ullamcorper id ante nec sodales. Donec aliquam dolor non leo sagittis mattis. Maecenas gravida ipsum sit amet egestas sagittis. Maecenas id enim eu orci ultricies maximus a ut urna. Mauris vel felis vel arcu malesuada malesuada ullamcorper ac lectus. Suspendisse sed mauris risus. Curabitur nec porta risus. Praesent varius, sem eget convallis sollicitudin, massa tellus viverra nisl, vel vestibulum libero tortor sit amet nibh. Phasellus finibus pretium leo et tempor.</p>
            </div>
            <div class="box-footer">
                <div class="user">
                    <img class="user-image" src="./img/john.png" alt="John's Picture">
                    <div class="user-info">
                        <div class="user-name">John Doe</div>
                    </div>
                </div>
            </div>
            
        </section>

        <section class="sidebar">
            <nav class="nav-sidebar">
                <div class="sidebar-header">
                    <img class="sidebar-img" src="./img/category.png" alt="">
                    <h1>
                        Categories
                    </h1>
                </div>
                <ul>
                    <li><a href="#">Science Fiction</a><span class="category-qty">5</span></li>
                    <li><a href="#">Fantasy</a><span class="category-qty">10</span></li>
                    <li><a href="#">Drama</a><span class="category-qty">3</span></li>
                    <li><a href="#">Action</a><span class="category-qty">23</span></li>
                </ul>
            </nav>
        </section>

    </div>
    <footer>
        <p>John's Stories</p>
        <p>Developed by Ronaldo Ramos</p>
    </footer>

    <script src="./js/main.js"></script>

</body>
</html>